                body {
                      background-color: rgb(247, 245, 239);
                }

                h1 {
                    color: rgb(1, 15, 204);
                    font-style: normal;
                    text-align: left;
                    font-size: 35px;

                } h2{
                    color: black;
                    font-style: initial;
                    text-align: justify;
                    font-size: 25px;

                } p {
                    color: black;
                    font-style: normal;
                    text-align: center;
                    font-size: 15px;
                }  a:link{
                    color: rgb(41, 172, 91);
                    background-color: transparent;
                    text-decoration: none;
                }
                a:visited {
                    color: rgb(99, 116, 196);
                    background-color: transparent;
                    text-decoration: none;
                }
                a:hover {
                    color: rgb(151, 13, 13);
                    background-color: transparent;
                    text-decoration: underline;
                }
                footer{
                    color: rgb(112, 96, 66);
                    text-align: center;
                    text-decoration-line: underline;
                }

  